<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>About Us</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident placeat quasi quis quas voluptatibus mollitia dolor quisquam neque cum. Voluptate?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, non deleniti illum sequi officia nulla.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laboriosam!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

  </body>
</html>
